/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1999px) {
	/*--*****NAVBAR*****--*/

	.navbar-default .navbar-nav li {
		width: 300px;
	}

	.navbar-default .dropdown-menu {
		width: 300px;
	}
	/*--*****BANER--AND--CARUSEL*****--*/
	
	.comments .carousel-caption {
		left: 5%;
		right: 5%;
	}

	.comments .carousel-control {
		width: 2%;
	}
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 991px) {
	/*--*****NAVBAR*****--*/

	.navbar-default .navbar-nav li {
		width: 213px;
	}

	.navbar-default .dropdown-menu {
		width: 213px;
	}

	.navbar-default {
		margin-top: -10px;
	}
	.carousel-caption {
		left: 15%;
		right: 15%;
		top: 5px;
	}

}

/* Small Devices, Tablets */
@media only screen and (max-width : 767px) {
	header>.container {
		min-height: 70px;
		font-weight: 300;
	}

	header .col-xs-5 img {
		margin-top: -30px;
		margin-left: 15px;
		width: 70px;
	}
	
	header .col-xs-7 {
		font-size: 1.5em;
		margin-top: 0;
	}

	
	header .col-xs-7 a {
		font-size: 0.5em;
	}

	/*--*****NAVBAR*****--*/
	
	.navbar-default .navbar-nav li {
		width: 100%;
	}

	.navbar-default .dropdown-menu {
		width: 100%;
		padding: 0;
		margin: 0;
	}
	.navbar-default .dropdown-menu li {
		background-color: rgb(0, 122, 163);
	}

	.navbar-default .dropdown-menu>li>a {
		color: #fff!important;
	}

	.carousel-caption {
		left: 5%;
		right: 5%;
		top: 5px;
	}

	.carousel-caption h3 {
		font-size: 2.5em
	}

	.carousel-caption p {
		font-size: 2em;
  	}

	.carousel-caption .btn-default {
		font-size: 1.5em;
	}

	footer .col-lg-5 img {
	margin-left: 0;
	}
	
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	
	/*--*****BANER--AND--CARUSEL*****--*/

	
	.carousel-caption h3 {
		font-size: 1.34em
	}

	.carousel-caption p {
		font-size: 1.3em;
  	}

	.carousel-caption .btn-default {
		font-size: 1.3em;
	}

	.carousel-caption .btn {
		width: 210px;
		height: 50px;
		margin-top: 170px
	}

	.carousel-caption a {
		margin-top: 20px;
	}
	
	/*--*****INFORMATION*****--*/
	
	.information .section-header h2 {
		margin-top: 25px;
		margin-bottom: 25px;
		font-size: 1.5em;
	}

	.information h4 {
		margin-top: 15px;
		margin-bottom: 10px;
		font-size: 1.4em;
  	}

  	.information p {
    	font-size: 1.3em;
  	}
	
	/*--*****CONDITIONS*****--*/
	
	.conditions .section-header h2 {
		margin-top: 25px;
		margin-bottom: 25px;
		font-size: 1.5em;
	}

	.conditions h4 {
		margin-top: 15px;
		margin-bottom: 10px;
		font-size: 1.4em;
  	}

 	.conditions p {
    	font-size: 1.3em;
 	}
	
	/*--*****SOLVE*****--*/
	
	.solve { 
	 	min-height: 580px;
	}
	
	.solve .section-header h2 {
		font-size: 1.5em;
		margin-top: 25px;
		margin-bottom: 10px;
	}
	
	.solve p {
		font-size: 1.3em;
	}
	
	.solve .row p {
    	font-size: 1.2em;
	}
		
	.solve .row1 {
		margin-top: 30px;
	}

	.solve .row2 {
		margin-top: 10px;
	}
		
	.solve .row2 img {
		top: -20px;
	}

	.solve h4 {
		margin-top: 16px;
		font-size: 1.4em;
	}
  
	.solve { 
		min-height: 580px;
	}
	
	/*--*****CONTENT**TEXT*****--*/
	
	.content {
		min-height: 240px;
	}
	
	.content .section-header h2 {
		font-size: 1.5em;
		margin-top: 25px;
	}
	
	/*--*****SEO*****--*/
	
	.seo {
		min-height: 330px;
	}
	
	.seo .col-md-7 {
		min-height: 250px;
		margin-top: 40px;
	}
	
	.seo .col-md-7 h3 {
		font-size: 1.3em;
	}

	.seo .col-md-7 p {
		font-size: 1.1em;
	}

	.seo .col-md-7 .autor {
		font-size: 0.9em;
		right: 10px;
		bottom: 10px;
	}

	.seo .col-md-7 img {
		width: 80px;
		bottom: 10px;
	}
	
	/*--*****PARTNER*****--*/
	
	.partner {
		min-height: 140px;
	}
	
	.partner .section-header h2 {
		font-size: 1.5em;
		margin-top: 25px;
	}
	
	.partner .col-md-12 {
		margin-top: 10px;
		margin-bottom: 10px;	
	}
		
	/*--*****COMMENTS*****--*/
	
	.comments .carousel-caption h3 {
		font-size: 1.5em;
	}

	.comments .carousel-caption .par {
	padding: 15px;
	height: 180px;
	font-size: 1.3em;
}

.comments .carousel-caption .auter {
	color: rgb(7, 28, 34);
	padding-top: 15px;
	font-size: 1.3em;
}
		
	/*--*****PHONE*****--*/
	
	.phone {
		min-height: 100px;
	}
	
	.phone .container h2 {
		font-size: 1.6em;
		padding: 6px 0;
	}
	
	/*--*****KNOWLEDGE*****--*/
	.knowledge img {
		width: 30%;
	}
	
	.knowledge .section-header h2 {
		font-size: 1.5em;
		margin-top: 25px;
		margin-bottom: 20px;	
	}
	
	.knowledge h4 {
		margin-top: 15px;
		margin-bottom: 10px;
		font-size: 1.5em;
	}

	.knowledge p {
		font-size: 1.3em;
	}
	
	.knowledge .time {
		font-size: 1.2em;
	}

  /*--*****FORM*****--*/
	
	.form {
		height: 250px;
	}
	
	.form .section-header h2 {
		font-size: 2em;
		margin-top: 25px;
	}

	.form p {
		font-size: 1.5em;
		padding-bottom: 10px;
	}
	
	.form .btn {
		font-size: 1.3em;
	}

	.form .form-control {
		font-size: 1.3em;
	}
	
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}
